* {
    margin: 0;
    padding: o;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

:root{
--white: hsl(0, 0%, 100%);
--stone-100: hsl(30, 54%, 90%);
--stone-150: hsl(30, 18%, 87%);
--stone-600: hsl(30, 10%, 34%);
--stone-900: hsl(24, 5%, 18%);
--brown-800: hsl(14, 45%, 36%);
--rose-800: hsl(332, 51%, 32%);
--rose-50: hsl(330, 100%, 98%);

   /* Fontweight vairables */
   --young: 400;
   --medium: 600;
   --bold: 700;

   /* Fontfamily vairables */
   --young: "Young Serif", serif;
   --outfit: "Outfit", sans-serif;


}

img{
    width: 100%;
    object-fit: cover;

}

body {
    padding: 100px;
    background-color: var(--stone-100);
    font-family: var(--outfit);
    font-size: 1rem;
}


h1 {
      font-family: var(--young);
}


.card {
    width: 50%;
    background-color: var(--white);
    margin-inline: auto;
    padding: 50px;
    border-radius: 20px;
}

.picture {
    border-radius: 10px;
    overflow: hidden;
}

.main h3 {
    color: var(--rose-800);
}

.heading {
    font-family: var(--young);
    color: var(--brown-800);
}





